@import "../../style.scss";

.generator {
  @include themify($themes) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  background-color: themed("bgSoft");
  overflow: hidden;
  position: inherit;
  height: 100vh;
  .generateBtn{
    color: themed("textColor");
  }
  h1 {
    font-size: 36px;
    margin-top: 3vh;
    color: themed("textColor");
    margin-bottom: 0;
    border: 4px solid #ccc;
    background-color: themed("bg");
    padding: 10px;
    color: themed("textColor");
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;


    .search {
      display: flex;
      align-items: center;
      color: themed("textColor");
      /* margin-bottom: 10px;  */

      input[type="text"] {
        border-radius: 20px;
        background-color: themed("bg");
        border: none;
        border-bottom: 2px solid #ccc;
        padding: 5px;
        font-size: 18px;
        margin-left: 5px;
        width: 70vw;
        height: 40px;
        color:themed("textColor");
      }
    }
    
    button {
      border: none;
      background-color: themed("bg");
      border-left: 2px solid #ccc;
      border-right: 2px solid #ccc;
      border-bottom: 2px solid #ccc;
      color: #fff;
      padding: 10px 20px;
      font-size: 18px;
      cursor: pointer;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      max-width: 200px;
      max-height: 200px;
      margin: 10px;
      border: 4px solid themed("bg");
      cursor: pointer;
    }

    input[type="checkbox"] {
      margin-right: 10px;
    
    }

    button[type="submit"] {
      margin-top: 20px;
      border: 2px solid #ccc;
      background-color: themed("bg");
      color: themed("textColor");
      padding: 5px 20px;
      font-size: 18px;
      cursor: pointer;
    }
  }
  .save{
    background-color: themed("bg");
    border: 2px solid themed("textColor");
    color: themed("textColor");
  }
}

.genImg{
  display:flex;
  align-items: center;
  justify-content: center;
}

.checkstyle{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.generatorHeader{
  top: 0;
}
.genImgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genImgs label {
  position: relative;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.genImgs img {
  max-width: 220px;
  max-height: 220px;
}

.genImgs input[type="checkbox"] {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(20%, 50%);
  width: 20px;
  height: 20px;
  opacity: 0;
  cursor: pointer;
}

.genImgs input[type="checkbox"]:checked + label::before {
  content: "\2713";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  font-size: 26px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
}